body{
    margin: 0px;
}

*{
    box-sizing: border-box;
}
/* 
.container{
    border: 2px solid red;
    display: grid;
    grid-template-columns: 20% 30% 40% auto;
}

.item{
    border: 2px solid blue;
} */


.container{

    border: 2px solid red;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 150px 200px 100px;
    justify-content: space-around;
}

.item{
    border: 2px solid blue;
    padding: 10px;
    
}
