<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/ecom-style.css">
    <title>Layout</title>
</head>
<body>
    
<div class="container bg-primary text-white">
    Home | About | Contact | gallery
</div>

<div class="container mt-4">
    <img src="assets/images/banners/banner.jpg" class="d-block w-100">
</div>

<div class="row mt-2">
    <div class="col-2">        
        <div class="product" style="box-shadow: 0px 0px 5px gray; border-radius: 5px;">
                <a href="#"></a>
                <img src="assets/images/products/samsung.jpg" class="d-block w-50 m-auto">
                <div class="product-description">
                    <h3 class="text-center">Samsung</h3>
                    <p class="text-center"><small>SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)  (8 GB RAM)</small></p>
                    <div class="price text-center">
                        <span class="price-ad">Rs. 15,499</span> &nbsp;
                        <span class="price"><del class="text-grey"><small>21,000</small></del></span>
                        <span class="off text-success">29% OFF</span>
                    </div>
                    <div class="cart-buy mt-2 mb-2 text-center">
                        <button class="btn bg-warning ps-3 pe-3">Add</button>
                        <button class="btn bg-success">Buy Now</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-2">
        <div class="product" style="box-shadow: 0px 0px 5px gray; border-radius: 5px;">
            <img src="assets/images/products/samsung.jpg" class="d-block w-50 m-auto">
            <div class="product-description">
                <h3 class="text-center">Samsung</h3>
                <p class="text-center"><small>SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)  (8 GB RAM)</small></p>
                <div class="price text-center">
                    <span class="price-ad">Rs. 15,499</span> &nbsp;
                    <span class="price"><del class="text-grey"><small>21,000</small></del></span>
                    <span class="off text-success">29% OFF</span>
                </div>
                <div class="cart-buy mt-2 mb-2 text-center">
                    <button class="btn bg-warning ps-3 pe-3">Add</button>
                    <button class="btn bg-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="product" style="box-shadow: 0px 0px 5px gray; border-radius: 5px;">
            <img src="assets/images/products/samsung.jpg" class="d-block w-50 m-auto">
            <div class="product-description">
                <h3 class="text-center">Samsung</h3>
                <p class="text-center"><small>SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)  (8 GB RAM)</small></p>
                <div class="price text-center">
                    <span class="price-ad">Rs. 15,499</span> &nbsp;
                    <span class="price"><del class="text-grey"><small>21,000</small></del></span>
                    <span class="off text-success">29% OFF</span>
                </div>
                <div class="cart-buy mt-2 mb-2 text-center">
                    <button class="btn bg-warning ps-3 pe-3">Add</button>
                    <button class="btn bg-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="product" style="box-shadow: 0px 0px 5px gray; border-radius: 5px;">
            <img src="assets/images/products/samsung.jpg" class="d-block w-50 m-auto">
            <div class="product-description">
                <h3 class="text-center">Samsung</h3>
                <p class="text-center"><small>SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)  (8 GB RAM)</small></p>
                <div class="price text-center">
                    <span class="price-ad">Rs. 15,499</span> &nbsp;
                    <span class="price"><del class="text-grey"><small>21,000</small></del></span>
                    <span class="off text-success">29% OFF</span>
                </div>
                <div class="cart-buy mt-2 mb-2 text-center">
                    <button class="btn bg-warning ps-3 pe-3">Add</button>
                    <button class="btn bg-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="product" style="box-shadow: 0px 0px 5px gray; border-radius: 5px;">
            <img src="assets/images/products/samsung.jpg" class="d-block w-50 m-auto">
            <div class="product-description">
                <h3 class="text-center">Samsung</h3>
                <p class="text-center"><small>SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)  (8 GB RAM)</small></p>
                <div class="price text-center">
                    <span class="price-ad">Rs. 15,499</span> &nbsp;
                    <span class="price"><del class="text-grey"><small>21,000</small></del></span>
                    <span class="off text-success">29% OFF</span>
                </div>
                <div class="cart-buy mt-2 mb-2 text-center">
                    <button class="btn bg-warning ps-3 pe-3">Add</button>
                    <button class="btn bg-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="product" style="box-shadow: 0px 0px 5px gray; border-radius: 5px;">
            <img src="assets/images/products/samsung.jpg" class="d-block w-50 m-auto">
            <div class="product-description">
                <h3 class="text-center">Samsung</h3>
                <p class="text-center"><small>SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)  (8 GB RAM)</small></p>
                <div class="price text-center">
                    <span class="price-ad">Rs. 15,499</span> &nbsp;
                    <span class="price"><del class="text-grey"><small>21,000</small></del></span>
                    <span class="off text-success">29% OFF</span>
                </div>
                <div class="cart-buy mt-2 mb-2 text-center">
                    <button class="btn bg-warning ps-3 pe-3">Add</button>
                    <button class="btn bg-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-2">
    <div class="col-2">
        <div class="product" style="box-shadow: 0px 0px 5px gray; border-radius: 5px;">
            <img src="assets/images/products/samsung.jpg" class="d-block w-50 m-auto">
            <div class="product-description">
                <h3 class="text-center">Samsung</h3>
                <p class="text-center"><small>SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)  (8 GB RAM)</small></p>
                <div class="price text-center">
                    <span class="price-ad">Rs. 15,499</span> &nbsp;
                    <span class="price"><del class="text-grey"><small>21,000</small></del></span>
                    <span class="off text-success">29% OFF</span>
                </div>
                <div class="cart-buy mt-2 mb-2 text-center">
                    <button class="btn bg-warning ps-3 pe-3">Add</button>
                    <button class="btn bg-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="product" style="box-shadow: 0px 0px 5px gray; border-radius: 5px;">
            <img src="assets/images/products/samsung.jpg" class="d-block w-50 m-auto">
            <div class="product-description">
                <h3 class="text-center">Samsung</h3>
                <p class="text-center"><small>SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)  (8 GB RAM)</small></p>
                <div class="price text-center">
                    <span class="price-ad">Rs. 15,499</span> &nbsp;
                    <span class="price"><del class="text-grey"><small>21,000</small></del></span>
                    <span class="off text-success">29% OFF</span>
                </div>
                <div class="cart-buy mt-2 mb-2 text-center">
                    <button class="btn bg-warning ps-3 pe-3">Add</button>
                    <button class="btn bg-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="product" style="box-shadow: 0px 0px 5px gray; border-radius: 5px;">
            <img src="assets/images/products/samsung.jpg" class="d-block w-50 m-auto">
            <div class="product-description">
                <h3 class="text-center">Samsung</h3>
                <p class="text-center"><small>SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)  (8 GB RAM)</small></p>
                <div class="price text-center">
                    <span class="price-ad">Rs. 15,499</span> &nbsp;
                    <span class="price"><del class="text-grey"><small>21,000</small></del></span>
                    <span class="off text-success">29% OFF</span>
                </div>
                <div class="cart-buy mt-2 mb-2 text-center">
                    <button class="btn bg-warning ps-3 pe-3">Add</button>
                    <button class="btn bg-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="product" style="box-shadow: 0px 0px 5px gray; border-radius: 5px;">
            <img src="assets/images/products/samsung.jpg" class="d-block w-50 m-auto">
            <div class="product-description">
                <h3 class="text-center">Samsung</h3>
                <p class="text-center"><small>SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)  (8 GB RAM)</small></p>
                <div class="price text-center">
                    <span class="price-ad">Rs. 15,499</span> &nbsp;
                    <span class="price"><del class="text-grey"><small>21,000</small></del></span>
                    <span class="off text-success">29% OFF</span>
                </div>
                <div class="cart-buy mt-2 mb-2 text-center">
                    <button class="btn bg-warning ps-3 pe-3">Add</button>
                    <button class="btn bg-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="product" style="box-shadow: 0px 0px 5px gray; border-radius: 5px;">
            <img src="assets/images/products/samsung.jpg" class="d-block w-50 m-auto">
            <div class="product-description">
                <h3 class="text-center">Samsung</h3>
                <p class="text-center"><small>SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)  (8 GB RAM)</small></p>
                <div class="price text-center">
                    <span class="price-ad">Rs. 15,499</span> &nbsp;
                    <span class="price"><del class="text-grey"><small>21,000</small></del></span>
                    <span class="off text-success">29% OFF</span>
                </div>
                <div class="cart-buy mt-2 mb-2 text-center">
                    <button class="btn bg-warning ps-3 pe-3">Add</button>
                    <button class="btn bg-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="product" style="box-shadow: 0px 0px 5px gray; border-radius: 5px;">
            <img src="assets/images/products/samsung.jpg" class="d-block w-50 m-auto">
            <div class="product-description">
                <h3 class="text-center">Samsung</h3>
                <p class="text-center"><small>SAMSUNG Galaxy S21 FE 5G (Lavender, 128 GB)  (8 GB RAM)</small></p>
                <div class="price text-center">
                    <span class="price-ad">Rs. 15,499</span> &nbsp;
                    <span class="price"><del class="text-grey"><small>21,000</small></del></span>
                    <span class="off text-success">29% OFF</span>
                </div>
                <div class="cart-buy mt-2 mb-2 text-center">
                    <button class="btn bg-warning ps-3 pe-3">Add</button>
                    <button class="btn bg-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>   
</div>


<footer class="footer border" style="background-color: #172337;">
    <div class="row text-white">
        <div class="col-2">
            <h4 class="text-grey">About</h4>
            <hr>
            <ul class="nav-list">
                <li><a href="" class="nav-link text-white text-sm">Contact us</a></li>
                <li><a href="" class="nav-link text-white text-sm">About</a></li>
                <li><a href="" class="nav-link text-white text-sm">Career</a></li>
                <li><a href="" class="nav-link text-white text-sm">My EShop</a></li>
                <li><a href="" class="nav-link text-white text-sm">Press</a></li>
                <li><a href="" class="nav-link text-white text-sm">Eshop wholesale</a></li>
                <li><a href="" class="nav-link text-white text-sm">Corporate Information</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h4 class="text-grey">About</h4>
            <hr>
            <ul class="nav-list">
                <li><a href="" class="nav-link text-white text-sm">Contact us</a></li>
                <li><a href="" class="nav-link text-white text-sm">About</a></li>
                <li><a href="" class="nav-link text-white text-sm">Career</a></li>
                <li><a href="" class="nav-link text-white text-sm">My EShop</a></li>
                <li><a href="" class="nav-link text-white text-sm">Press</a></li>
                <li><a href="" class="nav-link text-white text-sm">Eshop wholesale</a></li>
                <li><a href="" class="nav-link text-white text-sm">Corporate Information</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h4 class="text-grey">About</h4>
            <hr>
            <ul class="nav-list">
                <li><a href="" class="nav-link text-white text-sm">Contact us</a></li>
                <li><a href="" class="nav-link text-white text-sm">About</a></li>
                <li><a href="" class="nav-link text-white text-sm">Career</a></li>
                <li><a href="" class="nav-link text-white text-sm">My EShop</a></li>
                <li><a href="" class="nav-link text-white text-sm">Press</a></li>
                <li><a href="" class="nav-link text-white text-sm">Eshop wholesale</a></li>
                <li><a href="" class="nav-link text-white text-sm">Corporate Information</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h4 class="text-grey">About</h4>
            <hr>
            <ul class="nav-list">
                <li><a href="" class="nav-link text-white text-sm">Contact us</a></li>
                <li><a href="" class="nav-link text-white text-sm">About</a></li>
                <li><a href="" class="nav-link text-white text-sm">Career</a></li>
                <li><a href="" class="nav-link text-white text-sm">My EShop</a></li>
                <li><a href="" class="nav-link text-white text-sm">Press</a></li>
                <li><a href="" class="nav-link text-white text-sm">Eshop wholesale</a></li>
                <li><a href="" class="nav-link text-white text-sm">Corporate Information</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h4 class="text-grey">About</h4>
            <hr>
            <ul class="nav-list">
                <li><a href="" class="nav-link text-white text-sm">Contact us</a></li>
                <li><a href="" class="nav-link text-white text-sm">About</a></li>
                <li><a href="" class="nav-link text-white text-sm">Career</a></li>
                <li><a href="" class="nav-link text-white text-sm">My EShop</a></li>
                <li><a href="" class="nav-link text-white text-sm">Press</a></li>
                <li><a href="" class="nav-link text-white text-sm">Eshop wholesale</a></li>
                <li><a href="" class="nav-link text-white text-sm">Corporate Information</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h4 class="text-grey">About</h4>
            <hr>
            <ul class="nav-list">
                <li><a href="" class="nav-link text-white text-sm">Contact us</a></li>
                <li><a href="" class="nav-link text-white text-sm">About</a></li>
                <li><a href="" class="nav-link text-white text-sm">Career</a></li>
                <li><a href="" class="nav-link text-white text-sm">My EShop</a></li>
                <li><a href="" class="nav-link text-white text-sm">Press</a></li>
                <li><a href="" class="nav-link text-white text-sm">Eshop wholesale</a></li>
                <li><a href="" class="nav-link text-white text-sm">Corporate Information</a></li>
            </ul>
        </div>
        
    </div>
    
</footer>

<div class="footer-end text-white p text-center" style="background-color: #030508">
    All Rights reserverd by EShop 2023
</div>

</body>
</html>