body{
    margin: 0px;
}

.rel{
    height: 100px;
    width: 100px;
    border: 4px solid red;
}

.one{
    border: 4px solid green;
}

.two{
    border: 4px solid red;
    position: absolute;
    background-color: aqua;
    right: 0px;
    height: 120px;
    z-index: 10;
    
}

.three{
    border: 4px solid blue;
    background-color: yellow;
    width: 120px;

}

.four{
    border: 4px solid purple;
    position: absolute;
    background-color: brown;
    width: 140px;
    
    left: 40%;
    bottom: 0px;
}

.five{
    border: 4px solid orangered;
    width: 120px;
    background-color: yellowgreen;
    position: absolute;
    height: 120px;
    z-index: 15;
    top: 200%;  
}